<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HOME NIH BOUS</h1>
    <a href="/logout">Logout</a>
    <a href="/student">Student List</a>
    <a href="/student/add">Add Student</a>


</body>
</html>